#root {
  min-width: 100%;
  min-height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}
